/* Style général */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* HEADER */

header {
  background: #333;
  color: #fff;
  display: flex;                  /* Active Flexbox */
  justify-content: space-between; /* Espace entre le nom et le menu */
  align-items: center;            /* Aligne veticalement au centre */
  padding: 20px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

/* Nom */
.nom {
  font-size: 1.5em;
  font-weight: bold;
}

/* Menu de navigation */

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  margin: 0 15px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #00b4d8;
}

section {
  padding: 50px;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
